* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-color: #000;
  color: #00ff99;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#start-screen {
  text-align: center;
  animation: fadeIn 1s ease;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
  color: #00ffaa;
  font-size: 14px;
}

input {
  padding: 8px;
  width: 220px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
}

button {
  background: #00ff99;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #00ffaa;
}

canvas {
  display: none;
  background-color: #000;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
